* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(244, 201, 201);
    background: radial-gradient(circle, rgba(244, 201, 201, 1) 0%, rgba(204, 236, 207, 1) 100%);
}

main {
    display: flex;
    flex-wrap: wrap;
}

main img {
    width: 200px;
}
.book {
    padding: 20px;
    max-width: 300px;
}